<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
  
      <!--<services>

        <service
            name="soapService.RedPill">
          <host>
            <baseAddresses>
              <add baseAddress="http://aspspider.ws/hemantham"/>
            </baseAddresses>
          </host>
          
          <endpoint address=""
                    binding="basicHttpBinding"
                    contract="soapService.RedPillReference.IRedPill"
                   />

          <endpoint address="https://aspspider.ws/hemantham/IRedPill"
                binding="basicHttpBinding"
              bindingConfiguration="BasicHttpsBinding_IRedPill"
              contract="soapService.IRedPill"
                   />
         
       
          <endpoint address="mex"
                    binding="mexHttpBinding"
                    contract="IMetadataExchange" />
        </service>
      </services>-->

  

      <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                  
                </behavior>
            </serviceBehaviors>
        </behaviors>
      <serviceHostingEnvironment multipleSiteBindingsEnabled="true" /> 
       <bindings>
          <basicHttpBinding>
             <binding name="BasicHttpBinding_IRedPill" />
             <binding name="BasicHttpsBinding_IRedPill">
                <security mode="Transport" />
             </binding>
             <binding name="BasicHttpBinding_IRedPill1" />
             <binding name="BasicHttpsBinding_IRedPill1">
                <security mode="Transport" />
             </binding>
          </basicHttpBinding>
       </bindings>
      
      
        <client>
            <endpoint address="http://knockknock.azurewebsites.net/RedPill.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRedPill"
                contract="RedPillReference.IRedPill" name="BasicHttpBinding_IRedPill" />
            <endpoint address="https://knockknock.readify.net/RedPill.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IRedPill"
                contract="RedPillReference.IRedPill" name="BasicHttpsBinding_IRedPill" />
            <endpoint address="http://knockknock.azurewebsites.net/RedPill.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRedPill1"
                contract="ActualRedPill.IRedPill" name="BasicHttpBinding_IRedPill1" />
            <endpoint address="https://knockknock.readify.net/RedPill.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IRedPill1"
                contract="ActualRedPill.IRedPill" name="BasicHttpsBinding_IRedPill1" />
        </client>
    </system.serviceModel>
</configuration>
